@media screen and (max-width: 740px){
    .ax-master-content {
        border-right: none;
    }
}


.green {
    color: #00AA00;
}

.orange {
    color: #FFAB00;
}

.red {
    color: #ff0000;
}

.grey {
    color: #808080;
}

.row {
    max-width:100%;
}

.ax-ui-content {
    margin: 0.2rem 0 0 0;
}


.top-spacer {
    margin: 0.2rem 0 0 0;
}

.ax-detail-content {
    margin: 0 auto;
}

/*
.fix-sides {
    margin: 0 0 0 0;
}
*/
.ax-master-content {
    border-right:1px solid;
    border-color: #e1e1e1;
    padding: 0;
    /*min-height: 582px;*/
     height:100vh;
}

.main-icon-check-box-wrapper {
    background-color: #2a6496;
}

/* Icon bar */

.icon-bar>* {
    /*padding: 0.8rem;*/
    text-align: center;
    font-size: 0.5rem;
}

.icon-bar>* i {
    font-size: 1.3rem;
}

/* List items for master content */
.list-item-bottom-spacer {
    padding-bottom: 0.5rem;
}

.list-item-top-spacer {
    padding-top: 0.5rem;
}


.list-item {
    padding-right: 0.9375rem;
}

.list-item-main-header {
    font-size: large;
    font-weight: 600;
}

.list-item-main-sub-header {
    font-size: small;
}

.list-item-main-content {
    font-size: x-small;
}

.list-item-wrapper {
    border-bottom: 1px solid #e1e1e1;
    /*padding-bottom: 0.5rem;
    padding-top: 0.5rem;*/
}


div.list-item-wrapper:hover {
    background-color: #e1e1e1;
}

.list-item-extra-info {
    font-size: small;
}

.list-item-extra-info.significant {
    font-size: small;
}

.list-item-extra-info.standard {
    font-size: x-small;
}

.list-header-icon-wrapper {
    text-align: center;
}

.list-item-header-icon {
    /*margin: 1rem auto;*/
    margin: 2.5rem auto 1rem 0.3rem;
    cursor: pointer;
    color: #008CBA;
}

.material-icons.device-icons {
    /*color: black;*/
    font-size: 1.5rem;
}

.material-icons.device-icons.standard {
    font-size: 1.5rem;
    color: #000000;
}

.list-item-icons-wrapper {
    font-size:0.5rem;
    padding: 1rem 0 1.025rem;
}

.list-item-icons {
    /*padding-right: 0.9375rem;*/
    padding: 0;
    text-align: center;
}

.list-item-icon {
    color: white;
}

.list-item-ruler {
    /*margin: 0.7rem 1.5rem 0.5rem 1.5rem;*/
}

.list-item-section {
    cursor: pointer;
}

.ax-icon-bar-adjust-height {
    height: 61px;
}

/* List items for master content end */

/* Details section */
.device-details-section-main {
    text-align:center;
}

.no-devices-main, .device-details-main-msg {
    color: #808080;
}
/* Details section ends */

.no-devices-main {
    text-align: center;
}

/*  TODO: Find a work around to remove this margin.
 *  This wrapper is a hack, when rendered by reactjs
 *  there are extra divs which messes up foundation
 *  button group. */
.ax-icon-bar-wrapper {
    margin: 0 -1.55rem 0 -0.330rem;
}
/* Hack ends - phew! */

.chart-wrapper {
    margin: 1rem auto;
}

.select-drop-down-menu {
    margin-top: 1rem;
}

.unstyled {
    list-style: none;
}

.custom-table {
    margin: 1rem 0.2rem 0 2rem;
}

/* Accordion/collapse */
.rc-collapse {
    background-color: #333333;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header {
    color: #FFFFFF;
}


/* selected devices class */

.selected-device-name {
    padding-left: 0;
    padding-top: 0.535rem;
    font-size: x-large;
}


/* selected devices class ends */


/* Details screen */
.ax-detail-panels {
    margin-left: 0;
    margin-top: 0.5rem;
}

/* End of details screen */

#chartdiv {
    background: #3f3f4f;
    color:#ffffff;
    width	: 100%;
    height	: 500px;
}

#90deg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.back-button-wrapper {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #303030;
    text-align: center;
}

.back-button-wrapper > i {
    color: white;
    font-size: 2.2em;
    padding-top: 0.4rem;
    cursor: pointer;
}

