@media screen and (max-width: 740px){
    .ax-master-content {
        border-right: none;
    }
}

.row {
    max-width:100%;
}

.ax-ui-content {
    margin: 10px 0 0 0;
}

.ax-master-content {
    border-right:1px solid;
    border-color: #e1e1e1;
}

.main-icon-check-box-wrapper {
    background-color: #2a6496;
}

.list-item-bottom-spacer {
    padding-bottom: 0.5rem;
}

.icons-main-check-box {

}

.list-item {
    padding-right: 0.9375rem;
}

.list-item-header-icon {
    margin: 1rem auto;
}

.chart-wrapper {
    margin: 10px auto;
}

.select-drop-down-menu {
    margin-top: 1rem;
}

.list-item-icons-wrapper {
    font-size:0.5rem;
    padding: 1rem 0 1.025rem;
}

.list-item-icon {
    color: white;
}

.list-item-ruler {
    /*margin: 0.7rem 1.5rem 0.5rem 1.5rem;*/
}

.unstyled {
    list-style: none;
}

.custom-table {
    margin: 1rem 0.2rem 0 2rem;

}


#chartdiv {
    background: #3f3f4f;
    color:#ffffff;
    width	: 100%;
    height	: 500px;
}

#90deg {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.material-icons.device-icons {
    color: black;
    font-size: 1.5rem;
}

.back-button-wrapper {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #303030;
    text-align: center;
}

.back-button-wrapper > i {
    color: white;
    font-size: 2.2em;
    padding-top: 0.4rem;
    cursor: pointer;
}